.preview-container {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f8f9fa;
    height: 500px;
    overflow: auto;
  }
  
  .preview-image {
    max-width: 100%;
    max-height: 100%;
  }
  
  .list-group-item {
    cursor: pointer;
    position: relative;
  }
  
  .btn-danger {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .selected {
    background-color: var(--primary-color);
    color: #fff;
  }
  