/* Additional styling to complement Bootstrap */
.table-responsive {
    overflow-x: auto;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .table td {
    vertical-align: middle;
  }
  
  .text-muted {
    font-size: 1.2em;
    color: #666;
  }
  