.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .react-calendar {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .react-calendar__tile{
    height: 60px;
  }
  
  .events {
    margin-top: 0;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .events h2 {
    margin-top: 0;
  }
  
  .events h3 {
    margin-top: 0;
  }
  